@model RRWebUI.Models.RestaurantVM

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>Edit the Restaurant</h3>

    <div>
        <label>@Model.Name</label>
        <label>@Model.City</label>
        <label>@Model.State</label>
    </div>
</body>
</html>